﻿@using System.Data
@model DataSet
@using Bigprofits.Common;
@{
    ViewData["Title"] = "Inbox-History";
    Layout = "~/Areas/Admin/Views/Shared/_AALayout.cshtml";
}

<div class="page-heading">
    <!-- Basic Tables start -->
    <section class="section">
        <div class="card">
            <div class="card-header bg-primary" style="background: #435ebe;color: white;padding: 15px;">
                Inbox Histroy
            </div>
            <div class="card-body mt-3 overflow-auto">
                <form action="/britglbl253adpnl/inbox-history" method="get" class="searchForm">
                    <input name="userId" class="form-control" placeholder="Member ID" value="@ViewBag.userId">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">From</span>
                        </div>
                        <input name="date" type="date" class="form-control" value="@ViewBag.date">
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">To</span>
                        </div>
                        <input name="date1" type="date" class="form-control" value="@ViewBag.date1">
                    </div>

                    <button class="btn btn-outline-primary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                    <a href="/britglbl253adpnl/inbox-history" class="btn btn-danger form-control">Clear Filter</a>
                </form>

                <table class="table table-responsive text-nowrap" id="datatable">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Memberid</th>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Status</th>
                            <th>Request Date</th>
                            <th>READ</th>
                    </thead>
                    <tbody>
                        @{
                            int sno2 = 1;
                        }
                        @foreach (DataRow row in Model.Tables[0].Rows)
                        {
                            <tr>
                                <td>@row["srN"]</td>
                                <td>@row["FromBy"]</td>
                                <td>@row["memName"]</td>
                                <td>@row["MySubject"]</td>
                                <td>@row["Status"]</td>
                                <td>@row["SDate"]</td>
                                <td><a href="javascript:;" onclick="MM_openBrWindow('/britglbl253adpnl/view-message/@row["srno"]','_blank','resizable=No,width=800,height=500,scrollbars=No,left=250,top=50')" class="btn btn-primary">View</a></td>
                            </tr>
                            sno2++;
                        }

                    </tbody>
                </table>

                <ul class="pagination mt-3">
                    @Html.Raw(ViewBag.pgnHtml)
                </ul>
            </div>
        </div>

    </section>
    <!-- Basic Tables end -->
</div>
