@using System.Data
@model DataSet
@using Bigprofits.Common;
@{
    ViewData["Title"] = "Histroy";
    Layout = "~/Areas/Admin/Views/Shared/_AALayout.cshtml";
}

<div class="page-heading">
    <!-- Basic Tables start -->
    <section class="section">
        <div class="card">
            <div class="card-header bg-primary" style="background: #435ebe;color: white;padding: 15px;">
                Credit Debit Histroy
            </div>
            <div class="card-body mt-3 overflow-auto">
                <table class="table table-responsive text-nowrap" id="datatable">
                    <thead>
                        <tr>
                            <th>
                                Sno
                            </th>
                            <th>
                                Memberid
                            </th>
                            <th>
                              Amount
                            </th>
                            <th>
                               Type
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                               Status
                            </th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno2 = 1;
                        }

                        @foreach (DataRow row in Model.Tables[0].Rows)
                        {
                            <tr>
                                <td>@sno2</td>
                                <td>@row["memberId"]</td>

                                <td>@("$" + Convert.ToDecimal(row["amount"]).ToString("0.00"))</td>

                                <td>@row["ftype"]</td>
                                <td>@row["fdate"]</td>
                                <td>@row["details"]</td>

                            </tr>
                            sno2++;
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </section>
    <!-- Basic Tables end -->
</div>
