@using System.Data
@using Microsoft.Extensions.Configuration;
@model DataSet
@using Bigprofits.Common;
@{
	ViewData["Title"] = "Withdrawal History";
	Layout = "~/Areas/Admin/Views/Shared/_AALayout.cshtml";

	var configuration = Context.RequestServices.GetService(typeof(IConfiguration)) as IConfiguration;
	CommonMethods lib = new CommonMethods(configuration!);
}

<div class="page-heading">
	<section class="section">
		<div class="card">
			<div class="card-header bg-primary" style="background: #435ebe;color: white;padding: 15px;">
				WITHDRAWAL HISTORY
			</div>
			<form action="/britglbl253adpnl/withdrawal-history" method="get" class="searchForm">
				<input name="userId" class="form-control" placeholder="Member ID" value="@ViewBag.userId">

				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">From</span>
					</div>
					<input name="date" type="date" class="form-control" value="@ViewBag.date">
				</div>

				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">To</span>
					</div>
					<input name="date1" type="date" class="form-control" value="@ViewBag.date1">
				</div>

				<button class="btn btn-outline-primary" type="submit">
					<i class="bi bi-search"></i>
				</button>
				<a href="/britglbl253adpnl/withdrawal-history" class="btn btn-danger form-control">Clear Filter</a>
			</form>
			<div class="card-body mt-3 overflow-auto">
				<table class="table table-responsive text-nowrap" id="datatable">
					<thead>
						<tr>
							<th>Sr. No</th>
							<th>Member</th>
							<th>Withdrawal</th>
							@* <th>Type</th> *@
							<th>Admin Charge</th>
							<th>Payable Amount</th>
							<th>Request Date</th>
							<th>Approve Date</th>
						</tr>
					</thead>
					<tbody>
						@foreach (DataRow row in Model.Tables[0].Rows)
						{
							<tr>
								<td>@row["srn"]</td>
								<td>@row["memName"] / @row["memberid"]</td>
								<td>@string.Format("{0:0.####}", row["withdrawal"])</td>
								@* <td>@(Convert.ToInt16(row["DirectIncome"]) == 0 ? "INCOME" : "CAPITAL")</td> *@
								<td>@string.Format("{0:0.####}", row["adminCharge"])</td>
								<td>@string.Format("{0:0.####}", row["details"]) @row["wType"]</td>
								<td>@string.Format("{0:dd/MMM/yyyy hh:mm tt}", row["wdlDate"])</td>
								<td>@string.Format("{0:dd/MMM/yyyy hh:mm tt}", row["AdminApprovedDate"])</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

	</section>
</div>




