@using System.Data
@model Bigprofits.Models.ProductCat
@{
	ViewData["Title"] = "Manage Category";
	Layout = "_AALayout";
}

@if (TempData["success"] != null)
{
	<div class="alert alert-success" role="alert">
		<strong>Success!</strong> @TempData["success"]
	</div>
}

@if (TempData["error"] != null)
{
	<div class="alert alert-danger" role="alert">
		<strong>Failed!</strong> @TempData["error"]
	</div>
}

<h4 class="text-center mb-3">Manage Category</h4>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card">
			<div class="card-body">
				<form method="post" asp-action="add-category" asp-controller="britglbl253adpnl">
					<input type="hidden" asp-for="Id" />

					<div class="mb-3">
						<label asp-for="CatName">Category Name</label>
						<input type="text" asp-for="CatName" class="form-control" required />
					</div>

					<button type="submit" class="btn btn-primary">@ViewBag.btnTitle</button>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Categories List</h5>
			</div>
			<div class="card-body">
				<table class="table table-bordered text-nowrap mb-0">
					<thead>
						<tr>
							<th>Sr. No</th>
							<th>Category Name</th>
							<th>Last Updated On</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@{
							int sno = 1;
						}
						@foreach (DataRow row in ViewBag.data.Rows)
						{
							<tr>
								<td>@sno</td>
								<td>@row["CatName"]</td>
								<td>@string.Format("{0:dd/MMM/yyyy hh:mm tt}", row["lastUpdate"])</td>
								<td><a href="/britglbl253adpnl/add-category?catId=@row["ID"]" class="btn btn-primary">UPDATE</a></td>
							</tr>

							sno++;
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

@section Scripts {

}
