@using System.Data
@model DataSet
@using Bigprofits.Common;
@{
    ViewData["Title"] = "Daily Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title mb-0"> DINP Token History </h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead>
                            <tr>

                                <th>
                                    Sno
                                </th>
                                @*   <th>
                                 Member Id
                                </th>
                                <th>
                                    Member Name
                                </th> *@
                                <th>
                                    Member Package
                                </th>
                                <th>
                                    Rate
                                </th>
                                <th>
                                  DINP Token
                                </th>
                                <th>
                                   Status
                                </th>
                                <th>
                                  Hashid
                                </th>
                                <th>
                                   ReuestDate
                                </th>
                                <th>
                                   Approve Date
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int sno2 = 1;
                            }

                            @foreach (DataRow row in Model.Tables[0].Rows)
                            {
                                <tr>
                                    <td>@sno2</td>
                                    <td>@(Convert.ToDecimal(row["price"]).ToString("0.##") + " USDT")</td>

                                    <td>@row["quantity"]</td>

                                    <td>@($"{Convert.ToDecimal(row["tokenAmount"]).ToString("0")} DINP")</td>
                                 



                                    <td>
                                        @if (row["ustatus"].ToString() == "1")
                                        {
                                            <span class="badge bg-success">Success</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-warning text-dark">Pending</span>
                                        }
                                    </td>

                                    <td>
                                        @if (!string.IsNullOrEmpty(row["hashId"]?.ToString()))
                                        {
                                            <a href="https://bscscan.com/tx/@row["hashId"]" target="_blank">View</a>
                                        }
                                        else
                                        {

                                        }
                                    </td>

                                    <td>@row["udate"]</td>
                                    <td>@row["adate"]</td>



                                </tr>
                                sno2++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div><!-- ROW-5 END -->
